/.github
/.vs
/Server/.vs/Server/v17/TestStore/0/002.testlog
/Server/.vs/Server/FileContentIndex/97083b9a-abd3-4e89-aa42-e48a031fbb5e.vsidx
/Server/.vs/Server/v17/.suo
/Server/.vs/Server/v17/DocumentLayout.json
/Server/.vs/Server
Server/bin/Debug/appsettings.Development.json
Server/bin/Debug/appsettings.json
Server/bin/Debug/AutoMapper.dll
Server/bin/Debug/Microsoft.AspNetCore.JsonPatch.dll
Server/bin/Debug/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
Server/bin/Debug/Microsoft.EntityFrameworkCore.Abstractions.dll
Server/bin/Debug/Microsoft.EntityFrameworkCore.dll
Server/bin/Debug/Microsoft.EntityFrameworkCore.Relational.dll
Server/bin/Debug/Microsoft.OpenApi.dll
Server/bin/Debug/Newtonsoft.Json.Bson.dll
Server/bin/Debug/Newtonsoft.Json.dll
Server/bin/Debug/Npgsql.dll
Server/bin/Debug/Npgsql.EntityFrameworkCore.PostgreSQL.dll
Server/bin/Debug/Server.deps.json
Server/bin/Debug/Server.dll
Server/bin/Debug/Server.exe
Server/bin/Debug/Server.pdb
Server/bin/Debug/Server.runtimeconfig.json
Server/bin/Debug/Server.xml
Server/bin/Debug/Swashbuckle.AspNetCore.Swagger.dll
Server/bin/Debug/Swashbuckle.AspNetCore.SwaggerGen.dll
Server/bin/Debug/Swashbuckle.AspNetCore.SwaggerUI.dll
Server/bin/Debug/System.Text.Json.dll
Server/obj/Debug/docker-c.35A3FFBA.Up2Date
Server/obj/Debug/docker-compose.dcproj.AssemblyReference.cache
Server/obj/Debug/docker-compose.dcproj.CoreCompileInputs.cache
Server/obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
Server/obj/Docker/CachedComposeConfigFilePaths.cache
Server/obj/Docker/DOCKER_REGISTRY.cache
Server/obj/Docker/docker-compose.vs.debug.g.yml
Server/obj/Docker/docker-compose.vs.debug.partial.g.yml
Server/obj/Docker/docker-compose.vs.release.g.yml
Server/obj/Docker/docker-compose.vs.release.partial.g.yml
Server/obj/Docker/DockerDevelopmentMode.cache
Server/obj/Docker/HashOfDockerArtifacts.cache
Server/obj/Docker/LaunchContext.cache
Server/obj/Docker/MergedDockerCompose.cache
Server/obj/Docker/MergedDockerCompose1.cache
Server/obj/Docker/MergedDockerCompose2.cache
Server/obj/Docker/MergedDockerCompose3.cache
Server/obj/Docker/MergedDockerCompose4.cache
Server/obj/Docker/MergedDockerCompose5.cache
Server/obj/Docker/MergedDockerCompose6.cache
Server/obj/Docker/MergedDockerCompose7.cache
Server/obj/Docker/MergedDockerCompose8.cache
Server/obj/Docker/MergedDockerCompose9.cache
Server/obj/Docker/MergedDockerCompose10.cache
Server/obj/Docker/MergedDockerCompose11.cache
Server/obj/Docker/MergedDockerCompose12.cache
Server/obj/Docker/MergedDockerCompose13.cache
Server/obj/Docker/MergedDockerCompose14.cache
Server/obj/Docker/MergedDockerCompose15.cache
Server/obj/Docker/MergedDockerCompose16.cache
Server/obj/Docker/MergedDockerCompose17.cache
Server/obj/Docker/MergedDockerCompose18.cache
Server/obj/Docker/MergedDockerCompose19.cache
Server/obj/Docker/MergedDockerCompose20.cache
Server/obj/Docker/MergedDockerCompose21.cache
Server/obj/Docker/MergedDockerCompose22.cache
Server/obj/Docker/MergedDockerCompose23.cache
Server/obj/Docker/TargetOS.cache
Server/obj/Docker/obj/Docker/ContainerCreationResult.cache
Server/obj/Docker/server/AbsoluteOutputAssemblyPath.cache
Server/obj/Docker/server/BuildContextPath.cache
Server/obj/Docker/server/ContainerDebugAbsoluteOutputAssemblyPath.cache
Server/obj/Docker/server/ProjectReferences.cache
Server/obj/Docker/server/ProjectType.cache
Server/obj/Docker/server/TargetFramework.cache
Server/obj/Docker/server/TargetFrameworkVersion.cache
Server/obj/Docker/server/VolumeMappingsForStaticWebAssets.cache
Server/obj/Docker/server/VolumeMappingsForTools.cache
Server/.vs/ProjectEvaluation/server.metadata.v8.bin
Server/.vs/ProjectEvaluation/server.projects.v8.bin
Server/.vs/ProjectEvaluation/server.strings.v8.bin
Server/.vs/Server/DesignTimeBuild/.dtbcache.v2
Server/.vs/Server/v17/.futdcache.v2
Server/.vs/Server/v17/.suo
Server/.vs/Server/v17/DocumentLayout.json
Server/TestProjectNet/obj/project.assets.json
Server/TestProjectNet/obj/project.nuget.cache
Server/TestProjectNet/obj/TestProjectNet.csproj.nuget.dgspec.json
Server/TestProjectNet/obj/TestProjectNet.csproj.nuget.g.props
Server/TestProjectNet/obj/TestProjectNet.csproj.nuget.g.targets
Server/TestProjectNet/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.AssemblyInfo.cs
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.AssemblyInfoInputs.cache
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.assets.cache
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.csproj.AssemblyReference.cache
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.csproj.CoreCompileInputs.cache
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.csproj.FileListAbsolute.txt
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.GeneratedMSBuildEditorConfig.editorconfig
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.GlobalUsings.g.cs
Server/TestProjectNet/obj/Debug/net8.0/TestProjectNet.sourcelink.json
