/.github
/.vs
/Server/.vs/Server/v17/TestStore/
/Server/.vs/Server/FileContentIndex
Server/.vs/Server/v17/.suo
Server/.vs/Server/v17/DocumentLayout.json
Server/.vs/Server/v17/.suo
Server/.vs/Server/v17/DocumentLayout.json
