/.github
/.vs
/Server/.vs/Server/v17/TestStore/0/002.testlog
/Server/.vs/Server/FileContentIndex/97083b9a-abd3-4e89-aa42-e48a031fbb5e.vsidx
/Server/.vs/Server/v17/.suo
/Server/.vs/Server/v17/DocumentLayout.json
